* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: rgb(52, 0, 156);

  display: flex;
  justify-content: center;
  align-items: center;

}

#container {
  width: 70%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding: 2rem;
  margin-top: 10rem;
}

.search-box {
  font-family: 'Courier New', Courier, monospace;

  width: 60%;
  height: 7rem;
  border: none;
  padding: 2rem;

  background-color: rgba(150, 40, 181, 0.5);
  color: white;
  box-shadow: inset 0px 0.1rem 1.1rem -0.3rem rgba(0, 0, 0, 0.7);

  font-size: 2rem;
  border-radius: 1rem;
}

.search-box::placeholder {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(232, 213, 213);
  opacity: 0.8;
}

.search-box:focus {
  outline: none;
}

.info-box {
  background-color: rgba(150, 40, 181, 0.5);
  width: 75%;
  height: 90%;

  border: none;
  border-radius: 1rem;

  position: relative;
}


#profile-image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: solid rgba(17, 9, 117, 0.6) 1rem;
  position: absolute;
  left: 4rem;
  top: 2.5rem;
}


.text-info {
  font-size: 1.6rem;
  position: absolute;
  left: 21rem;
  line-height: 5rem;
  top: 5rem;
  color: rgb(226, 209, 209);
  font-family: sans-serif;
}


#status {
  display: flex;
  gap: 10rem;
  font-size: 1.6rem;
  position: absolute;
  left: 21rem;
  line-height: 5rem;
  bottom: 10rem;
  color: rgb(226, 209, 209);
  font-family: sans-serif;
  font-weight: bold;
}

#repos-name {
  width: 51rem;
  height: 10rem;
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  position: absolute;
  bottom: 2rem;
  right: 6.8rem;
  padding: 1rem
}

#repos-name>div {
  font-size: 1.6rem;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(17, 9, 117, 0.6);
  padding: 0.6rem;
  color: white;
}